body {
    font: 14px/20px Georgia, "Times New Roman", Times, serif;
    color: #848484;
}
h1 {
    font-size: 41px;
    line-height: 50px;
    color: #3c3c3c;
    margin-bottom: 4px;
    margin-top: 2px;
}
h2 {
    font-size: 27px;
    line-height: 30px;
    color: #848484;
}
h3 {
    font-size: 27px;
    line-height: 30px;
    color: #3c3c3c;
}
a {
    color: #3c3c3c;
    text-decoration: none;
}
a:hover, a:hover {
    text-decoration: underline;
    color: #000;
}
.container {
    max-width: 970px;
    margin-top: 40px;
}
#about {
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
#about h2 {
    font-size: 14px;
    line-height: 20px;
    font-style: italic;
    margin-bottom: 14px;
}
#story {
    font-size: 18px;
    line-height: 30px;
}
#contact {
    padding-top: 72px;
    line-height: 20px;
    font-size: 13px;
    max-width: 420px;
}
#contact i {
    margin-right: 12px;
    position: absolute;
    left: 0px;
    top: 2px;
}
#contact strong {
    color: #000;
    padding-left: 10px;
}
#picture {
    text-align: center;
    padding-top: 77px;
}
.section {
    margin: 0 auto;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}
.section h2 {
    padding-right: 30px;
    padding-top: 0;
    line-height: 22px;
}
.section h3 {
    line-height: 27px;
    margin-bottom: 5px;
    font-style: italic;
    margin-right: 120px;
}
.section h4 {
    margin-bottom: 20px;
    font-size: 15px;
    color: #3c3c3c;
}
.section p {
    margin-bottom: 20px;
}
.section .date {
    position: absolute;
    top: 6px;
    right: 0;
    width: 120px;
    text-align: right;
}
.item {
    padding-left: 20px;
    padding-top: 0;
    margin-bottom: 25px;
    position: relative;
    border-left: 1px solid #ccc;
}
@media(max-width:970px) {
    .item {
        border-left: none;
        padding-left: 0px;
    }
    #picture, #contact {
        padding-top: 20px;
    }
}
@media(max-width:767px) {
    #picture {
        padding-top: 20px;
    }
    #contact {
        text-align: center;
        max-width: none;
        padding-top: 20px;
    }
    #contact i {
        position: relative;
        top: auto;
        left: auto;
    }
    #contact strong {
        padding-left: 0px;
    }
}
.logo-ntnu::before {
     content: url('gfx/ntnu.png');
     position: absolute;
     left: -50px;
}
.logo-ringerike::before {
     content: url('gfx/ringerike.png');
     position: absolute;
     left: -50px;
}
.logo-catchmedia::before {
     content: url('gfx/catch.png');
     position: absolute;
     left: -50px;
}
.logo-ringeriksbadet::before {
     content: url('gfx/ringeriksbadet.png');
     position: absolute;
     left: -50px;
}
.logo-utvikacamping::before {
     content: url('gfx/utvikacamping.png');
     position: absolute;
     left: -50px;
}
.logo-online::before {
     content: url('gfx/online.png');
     position: absolute;
     left: -50px;
}
.logo-battlefield::before {
     content: url('gfx/battlefieldno.png');
     position: absolute;
     left: -50px;
}