body {
    font: 14px/20px Georgia, "Times New Roman", Times, serif;
    color: #848484;
}
h1 {
    font-size: 41px;
    line-height: 50px;
    color: #3c3c3c;
    margin-bottom: 4px;
    margin-top: 2px;
}
h2 {
    font-size: 27px;
    line-height: 30px;
    color: #848484;
}
h3 {
    font-size: 27px;
    line-height: 30px;
    color: #3c3c3c;
}
a {
    color: #3c3c3c;
    text-decoration: none;
}
a:hover, a:hover {
    text-decoration: underline;
    color: #000;
}
.container {
    max-width: 970px;
    margin-top: 40px;
}
#about {
    margin: 0 auto;
    background: url(gfx/line.png) repeat-x 0 bottom;
    padding-bottom: 20px;
}
#about h2 {
    font-size: 14px;
    line-height: 20px;
    font-style: italic;
    margin-bottom: 14px;
}
#story {
    font-size: 18px;
    line-height: 30px;
}
#contact {
    padding-right: 0px;
    padding-top: 96px;
    line-height: 20px;
    font-size: 12px;
}
#contact > div {
    padding: 0px;
}
.contact-right {
    text-align: right;
    color: #3c3c3c;
}
#picture {
    text-align: right;
}
.section {
    margin: 0 auto;
    padding: 20px 0;
    background: url(gfx/line.png) repeat-x 0 bottom;
    overflow: hidden;
}
.section h2 {
    padding-right: 30px;
    padding-top: 0;
    line-height: 22px;
}
.section h3 {
    line-height: 22px;
    margin-bottom: 5px;
    font-style: italic;
}
.section h4 {
    margin-bottom: 20px;
    font-size: 15px;
}
.section p {
    margin-bottom: 20px;
}
.section .date {
    position: absolute;
    top: 6px;
    right: 0;
}
.section .item {
    padding-left: 50px;
    padding-top: 0;
    margin-bottom: 9px;
    position: relative;
    padding-bottom: 5px;
    background: url(gfx/separator.png) no-repeat 0 bottom;
}
@media(max-width:767px) {
    
}